<h4>Hello, <%= current_user.name %></h4>
<%= image_tag current_user.image_url, id: "profile_image" %>
<table>
  <thead>
  <caption><h4>Basic Info</h4></caption>
  <tr>
    <th>Following</th>
    <th>Followers</th>
    <th>Starred</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @github_service.starred_count %></td>
    <td><%= @github_service.followers_count %></td>
    <td><%= @github_service.following.count %></td>
  </tr>
  </tbody>
</table>