<div class=well">
  <h1>Welcome to Github Curious</h1>
  <% if current_user %>
    <%= render 'welcome/basic_info' %>
    <%= render 'welcome/repositories'  if @github_service.repos %>
    <%= render 'welcome/organizations' if @github_service.orgs %>
    <%= render 'welcome/contributions' if @contributions %>

    <br>
    <%= link_to "Logout", logout_path, class: 'btn' %>
  <% else %>
    <%= link_to "Login", login_path, class: 'btn' %>
  <% end %>
</div>