<div class=well">
  <% if current_user %>
    <%= render 'welcome/basic_info' %>
    <%= render 'welcome/contributions'  if @contributions %>
    <%= render 'welcome/organizations'  if @github_service.orgs %>
    <%= render 'welcome/repositories'   if @github_service.repos %>
    <%= render 'welcome/commit_summary' if @github_service.commits(current_user.login) %>
    <%= render 'welcome/following_commit_summary' if @github_service.commits(current_user.login) %>
  <% else %>
    <br>
    <h4>Welcome to Github Curious. Please <%= link_to "login", login_path %> to continue!</h4>
  <% end %>
</div>